<a href="https://colab.research.google.com/github/Youtank/pythonclass/blob/main/pythonclass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
#3 기본 자료형 (page33)

int   정수 1,2,3,4
float 실수 3.14, 2.18
bool  논리 True, false
str 문자열 홍길동' '슈가'

SyntaxError: ignored

In [5]:
#1. 정수 int

int(1,9)

TypeError: ignored

In [4]:
3 int(True)

SyntaxError: ignored

In [9]:
# 2. 실수  float

int('100')
int('200')
#큰따옴표 또느,따음표안에 숫자는 숫자가 아니다
#float

float(False)
0.0
intput ('숫자를 입력하세요'>>>)

SyntaxError: ignored

In [ ]:
#논리, bool

In [11]:
#4 문자열 str.strimg
a= '대한\n민국'
b= '한국'

a='''대한
민국'''
a="""대한
민국"""

print(a)

대한
민국

In [12]:
str(100)

'100'

In [ ]:
str(true)

In [14]:
#문자열 인덱싱(indexing)
# 인덱씽은 무라열을 구성하는 모든 문자에 부여한 고유의 번호이다.

s='hello'
print(s[0]) #인덱싱의시작은 0이다.
# h e l l o
# 0 1 2 3 4  각뮨자의인덱스번호

h

In [16]:
# h e l l o
#         -1
s=  'hello'
print(s[-1])

o

In [ ]:
#  h e l l o
#-5 -4 -3 -2 -1

In [20]:
#문자열 슬라이싱
#문자얄의 인덱스를 사용하여  한문자 이상으로 구성된 단어나 문장을 추출


s='banana' 
s[0:3 ]        #star:stop #stop 까지가 아닌 미만으로 계산한다.

'ban'

In [30]:
addr = '서울시 강남구 역삼동 1번지'

In [ ]:
#컬렉션  collectionm
#여러값을 하나의이름으로 묵어서 관리하는 자료형
#리스트 list 튜플tuple딕셔너리dict  셋set

In [51]:
#리스트 list
#리스트 리스튼느 여러값 저장할때 가장많이 사용되는 자료형이다
#특징
#1 대괄호를 생성한다
#2 여러가지 재료형 을 하나의 리스트로 생성할수있다.
#3 mutable한 속성을 갖는다 ,(수정 삭제가 가능 하다)
#4 indexing,slicing 이 가능하다

In [53]:
list1 = [1,2,3,4]
list2 = [1,2,3,'대','한','true']

In [29]:
li=[100,3.14,'hello']

li[2]

'hello'

In [ ]:
li[0]##start:stop (미만)

In [43]:
#append- 이스트에 데이터를 추가
scores = [50,40,30]
scores.append(100) #값을 투가할때 가용하는 ()
scores

[50, 40, 30, 100]

In [45]:
#insert
scores.insert(0,90)
scores

[90, 50, 40, 30, 100]

In [54]:
#opop() 리스트에서 데이터를 삭제
scores = [50,40,30]
scores.pop()
scores

[50, 40]

In [55]:
scores.pop(0)
scores

[40]

In [ ]:
#튜플 tuple
#저장된 값을 변경할수 없는 리스트
#소괄호로 생성한다() 튜플은  생성할수있다.
#imutable 한  속성을 갖는다(수정 삭제 불가)
#indexing,slicing 이 가능하다
#1개의 원소를 갖는 튜플을 생성할때 쉼표를 붙인다.

In [ ]:
# tu=(1,
#print

In [56]:
tu= 1,2,3,4,5

In [57]:
tu.append

AttributeError: ignored

In [58]:
tu = 1,2,3,4,5
tu[0]

1

In [ ]:
tu = [0:3]

In [63]:
#Set 셋


#특징
#1 중괄호를 생성한다
#2 여러가지 재료형 을 하나의 셋으로 생성할수있다.
#3 mutable한 속성을 갖는다 ,(수정 삭제가 가능 하다)
#4 indexing,slicing 이 불가능하다.순서가 없다
#5 중복된 데이터를 함꼐 저장할수없다.(중복 불가능)

set = {1,1,1,2,2,3}
set

{1, 2, 3}

In [64]:
set.add(4)
set 
{1,2,3,4}

{1, 2, 3, 4}

In [65]:
set.remove(3)
set
{1,2,4}

{1, 2, 4}

In [ ]:
#dict 딕셔너리 키값과 벨루 값의쌍으로 데이터를 저정하는 제료형
#자바에서의map js에서의json과 유사한 파이썬의 자료형

In [68]:
dict 

#특징
#1 중괄호를 생성한다
#2 여러가지 재료형 을 하나의 셋으로 생성할수있다.
#3 mutable한 속성을 갖는다 ,(수정 삭제가 가능 하다)
#4 indexing,slicing 이 불가능하다.순서가 없다
#5 중복된 데이터를 함꼐 저장할수없다.(중복 불가능)

dict = {'name':'홍길동','age':24}

{1, 2, 3}

In [69]:

d ['c'] = cherry

NameError: ignored

In [ ]:
mutabel:리스트,셋,딕셔너리
immutable : 튜플,정수,실수,문자열

In [70]:
me= [1,2,3]
id  #실제 데이터가 저장된 메모리위치

In [ ]:
im